<div class="search-input-container">
    <div id="postcodeLabel" ngpLabel>Postcode Search</div>
    <p id="description" ngpDescription>Enter a postcode that you are interested in and click 'Search'. Ensure the postcode includes both the outcode and incode (e.g. LS11 0ES).</p>
    <input ngpFormControl type="text" placeholder="Enter postcode"
        aria-label="postcode search"
        aria-describedby="description"
        [formControl]="postcodeInput" />
    <button ngpButton (click)="onSearchBtnClick()" [disabled]="!postcodeInput.valid">SEARCH</button>
</div>

<p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>

<app-result *ngIf="result" [postcodeData]="result"></app-result>